[Unit]
Description=Experience Program Daemon
[Service]
Type=simple
ExecStart=/usr/bin/DSServices
Restart=always
 
[Install]
WantedBy=multi-user.target
